<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Guía Social</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/busqueda/">Búsqueda</a>
                </li>
              </ul>
            </div>
        </nav>
        <div class="container">
            

            {% block content %}
            <div class="jumbotron">
                <h1 class="display-4">Bienvenid@ a Guía Social</h1>
                <p class="lead">Una herramienta para tener en un solo lugar todos los recursos sociales de tu ciudad.</p>
                <hr class="my-4">
                <p>Crea una cuenta para guardar tus recursos favoritos y añadir los tuyos propios.</p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#"" role="button" data-toggle="modal" data-target="#exampleModal">Regístrate</a>
                </p>
                <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    Aún estamos trabajando en ello, disculpa las molestias.
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
                </div>
            </div>
            </div>
            

            <h3>Todos los recursos</h3>
            <hr class="my-4">
            <div class="container">
                <div class="row">
                {% for entidad in entidades %}
                    
                        <div class="col-sm-6">
                        <h4>{{ entidad[1] }}</h4>
                        <p>
                            <b>Descripción</b><br>
                            {% if entidad[2] == "" %}
                                <i>No hay Descripción.</i>
                            {% else %}
                                {{ entidad[2] }}
                            {% endif %}
                        </p>
                        <p>
                            <b>Servicios</b><br>
                            {% if entidad[3] == "" %}
                                <i>No hay información.</i>
                            {% else %}
                                {{ entidad[3] }}
                            {% endif %}
                        </p>
                        
                        <p>        
                            <a href="https://www.google.es/maps/place/"
                            target="_blank"
                            title="Ver en Google Maps" rel="noopener noreferrer">
                                <b>Ver en Google Maps</b>
                            </a>
                        </p>
                        <p>
                            <a href="{{ entidad[5] }}" target="_blank" title="{{ entidad['title'] }}" rel="noopener noreferrer">
                                <b>Más información</b>
                            </a>
                        </p>
                        </div>
                {% endfor %}
                </div>
            </div>
            {% endblock %}           
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
    </body>
</html>