<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title %}Guia Social Madrid{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div>
            <a class="navbar-brand d-block pt-3 pb-0 mr-5 text-right" style="line-height:1em" href="{{ url_for('index')}}">
                Guía Social Madrid <br>
                <small id="subtitle" class="text-muted" style="font-size: 60%;">
                    Version Beta
                </small>
            </a>
          </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            </div> 
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('acceso')}}">Iniciar sesión <span class="sr-only">(current)</span></a>
                </li>
              </ul>
              
              <form class="form-inline" action="{{ url_for('index')}}" method="POST" novalidate>
                {{ formulario.hidden_tag() }}
                <div>
                {{ formulario.terminoBusqueda(class_="form-control mr-sm-2") }}
                {% for error in formulario.terminoBusqueda.errors %}
                <small id="searchHelpInline" class="text-muted d-block">
                    {{ error }}
                </small>
            </div>
                {% endfor %}
                {{ formulario.buscar(class_="btn btn-outline-success my-2 my-sm-0") }}
              </form>
            </div>
        </nav>
        <div class="container mt-5">
            {% block content %}
            <div class="jumbotron">
                <h1 class="display-4">Bienvenid@ a Guía Social</h1>
                <p class="lead">Una herramienta para tener en un solo lugar todos los recursos sociales de tu ciudad.</p>
                <hr class="my-4">
                <p>Crea una cuenta para guardar tus recursos favoritos y añadir los tuyos propios.</p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#"" role="button" data-toggle="modal" data-target="#exampleModal">Regístrate</a>
                </p>
                <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    Aún estamos trabajando en ello, disculpa las molestias.
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
                </div>
            </div>
            </div>
            

            <h3>Todos los recursos</h3>
            <hr class="my-4">
            <div class="container">
                <div class="row">
                    {% if entidades %}
                    <div class="row mt-5">
                        {% for entidad in entidades %}
                        
                            <div class="col-sm-6 mb-5">
                            <a href="{{ url_for('mostrarDetalle', nombre=entidad[1])}}"><h4>{{ entidad[1] }}</h4></a>
                            <p class="d-inline-block mr-3">
                                <b>Barrio:</b>
                                {% if entidad[6] == "" %}
                                    <i>No hay información.</i>
                                {% else %}
                                    {{ entidad[6] }}
                                {% endif %}
                            </p>
                            <p class="d-inline-block"> 
                                <b>Distrito:</b>
                                {% if entidad[7] == "" %}
                                    <i>No hay información.</i>
                                {% else %}
                                    {{ entidad[7] }}
                                {% endif %}
                            </p>
                        
                            <p>
                                <a class="btn btn-primary" href="{{ url_for('mostrarDetalle', nombre=entidad[1])}}" target="" title="{{ entidad['title'] }}" rel="noopener noreferrer">
                                    <b>Más información</b>
                                </a>
                            </p>
                            </div>
                        
                        {% endfor %}
                    </div>
                    {% else %}
                        <h2>No hay resultados para la búsqueda <i>'{{ busqueda }}':</i></h2>
                    {% endif %}
                </div>
            </div>
            {% endblock %}           
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
    </body>
</html>